.back-color{
    background: #2b3545;
}

.coin{
    background: linear-gradient(to bottom left, #5AC8AF 0%, #234B78 100%);
    min-height: 2rem;
    height: auto;
    color: white;
    margin-top: .5rem;
}

.coin-guide{
    background: white;
}

.coin_logo{
    width: 1.5rem;
    background: white;
    border-radius:.5rem;
}

.fixtop{
    margin-top: 4rem;
}
